@page "/"

<PageTitle>Home</PageTitle>

<div style="padding: 10px;">
    <TabDisplay EnableAdding OnAddAsync="HandleProjectAdd">
        <TabPage Text="Project1">
            <TaskAdd></TaskAdd>
        </TabPage>
        <TabPage Text="Project2">
            Project 2
        </TabPage>
    </TabDisplay>
</div>

<Dialog @bind-Opened=@(DialogOpened)>
    <BodyContent>
        Test Body
    </BodyContent>
    <FooterContent>
        Test Footer
    </FooterContent>
</Dialog>

@code{
    private bool DialogOpened = false;
    private async Task HandleProjectAdd() {
        DialogOpened = true;
        await InvokeAsync(StateHasChanged);
    }
}