@page "/"

<PageTitle>Home</PageTitle>

<div style="padding: 10px;">
    <TabDisplay>
        <TabPage Text="Project1">
            Project 1
        </TabPage>
        <TabPage Text="Project2">
            Project 2
        </TabPage>
    </TabDisplay>
</div>


@code{

}