@page "/"

<PageTitle>Home</PageTitle>

<div style="padding: 10px;">
    <TabDisplay EnableAdding OnAddAsync="HandleProjectAdd">
        <TabPage Text="Project1">
            <TaskAdd></TaskAdd>
        </TabPage>
        <TabPage Text="Project2">
            Project 2
        </TabPage>
    </TabDisplay>
</div>


@code{
    private async Task HandleProjectAdd() {
        
    }
}