@namespace ProjectManagement.UI.Components.Shared

@if (Opened)
{
    <div class="overlay">
        <div class="dialog">
            <div class="dialog-header">
                <div>
                    <h2>@Title</h2>
                </div>

                <div>
                    <div class="close">
                        <button class="no-style" @onclick=@(CloseDialog)>x</button>
                    </div>
                </div>
            </div>

            <div class="dialog-body">
                @BodyContent
            </div>

            <div class="dialog-footer">
                @FooterContent
            </div>
        </div>
    </div>
}

@code {
    [Parameter] 
    public string? Title { get; set; }
    [Parameter] 
    public RenderFragment? BodyContent { get; set; }
    [Parameter] 
    public RenderFragment? FooterContent { get; set; }
    [Parameter] 
    public bool Opened { get; set; }
    [Parameter] 
    public EventCallback<bool> OpenedChanged { get; set; }

    private void CloseDialog()
    {
        Opened = false;
        OpenedChanged.InvokeAsync(Opened);
    }
}
