$border-style: 2px solid rgb(139, 128, 0);

.tab-wrapper {
    position: relative;
    line-height: 24px;

    .button_plus {
        position: absolute;
        margin: 5.6px 0 0 5.6px;
        width: 24px;
        height: 24px;
        background: #fff;
        cursor: pointer;
        border: 2px solid #095776;
    }

    .button_plus:after {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        height: 4px;
        width: 50%;
        background: #095776;
        top: 50%;
        left: 50%;
    }

    .button_plus:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #095776;
        height: 50%;
        width: 4px;
    }

    .button_plus:hover:before,
    .button_plus:hover:after {
        background: #fff;
        transition: 0.2s;
    }

    .button_plus:hover {
        background-color: #095776;
        transition: 0.2s;
    }

    .tabs {
        display: inline-flex;
        width: fit-content;
        margin-bottom: 4px;
        button {
            margin-right: 4px;
            border: $border-style;
            border-radius: 10px;
            border-bottom: none;
            padding: .25rem;
            padding-right: 1.33em;
            border-bottom: $border-style;

            span.delete {
                margin-left: 5px;
                position: absolute;
            }

            span.delete:hover {
                text-decoration: underline;
                font-size: 1.5em;
            }
        }

        .active {
            background-color: rgba(233, 233, 233, .5);
        }

        button:not(.active) {
            box-shadow: inset 0 -5px 5px -5px #555;
        }
    }

    .content {
        outline: $border-style;
        border-top: none;
        width: 100%;
    }
}