@inject ProjectClient _client

        <div>
            <label>Project Name:</label>
            <InputText @bind-Value=@(Project.Name) />
        </div>
        <button type="button" @onclick=@(HandleSaveClick)>Save</button>

@code {


    [Parameter]
    public ProjectViewModel Project { get; set; } = null!;
    [Parameter]
    public Func<Task> SaveCallback { get; set; } = null!;
    protected override async Task OnInitializedAsync()
    {
        if(Project == null)
        {
            Project = new ProjectViewModel();
        }
        await base.OnInitializedAsync();
    }

    internal async Task HandleSaveClick(MouseEventArgs args)
    {
        await _client.Save(Project);
        await SaveCallback();
    }
}
