<div class="tab-wrapper">
    <div class="tabs">
        @foreach (TabPage tabPage in Pages)
          {
            <button type="button"
              class="@GetButtonClass(tabPage) no-style"
              @onclick=@(() => ActivatePage(tabPage))>
              @tabPage.Text
            </button>
          }
    </div>
    <div class="content">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>

@code {
    // Next line is needed so we are able to add <TabPage> components inside
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public TabPage ActivePage { get; set; }
    List<TabPage> Pages = new List<TabPage>();
    
    internal string GetButtonClass(TabPage page)
    {
        return page == ActivePage ? "active" : "";
    }
    internal void ActivatePage(TabPage page)
    {
        ActivePage = page;
    }
    internal void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
            ActivePage = tabPage;
        StateHasChanged();
    }
}