@inject ProjectManagement.Clients.ProjectTaskClient _taskClient

<form class="form">
    <div class="form-group">
        <label for="taskName">Task Description:</label>
        <InputTextArea @bind-Value="Task.Description"></InputTextArea>
    </div>
    <div class="form-group">
        <label for="taskName">Task Status:</label>
        <InputText @bind-Value="Task.Status"></InputText>
    </div>
    <button type="button" class="btn btn-lg btn-success" @onclick=@(HandleSubmit)>Save</button>
</form>

@code {
    private ProjectManagement.Public.Models.ProjectTaskViewModel Task = new();
    private async Task HandleSubmit()
    {
        await _taskClient.SaveProjectTask(Task);
    }
}
