@inject ProjectManagement.Clients.ProjectTaskClient _taskClient

<div class="container">
    <div class="header">Add a new Task</div>
    <div>
        <label for="taskName">Task Status:</label>
        <InputText @bind-Value="Task.Status"></InputText>
    </div>
    <div>
        <label for="taskName">Task Description:</label>
        <InputTextArea class="taskDescription" @bind-Value="Task.Description"></InputTextArea>
    </div>
    <button type="button" class="btn btn-lg btn-success" @onclick=@(HandleSubmit)>Save</button>
</div>

@code {
    private ProjectManagement.Public.Models.ProjectTaskViewModel Task = new();
    private async Task HandleSubmit()
    {
        await _taskClient.SaveProjectTask(Task);
    }
}
