@inject ProjectManagement.Clients.ProjectTaskClient _taskClient
@using ProjectManagement.Classes

<div class="container">
    <h2>
        @if(Task.Id <= 0)
        {
            @("Create New Task")
        }
        else
        {
            @($"Edit Task")
        }
    </h2>
    <div>
        <InputText class="task-title" @bind-Value=@(Task.Title) placeholder="Title..."></InputText>
    </div>
    <div>
        <label for="taskName">Status:</label>
        <InputSelect @bind-Value=@(Task.Status)>
            @if (Task.Status == null)
            {
                <option disabled selected>Status...</option>
            }
            @foreach(Enumeration.ProjectTaskStatus status in Enumeration.ProjectTaskStatus.GetValues(typeof(Enumeration.ProjectTaskStatus)))
            {
                if(status != Enumeration.ProjectTaskStatus.NotSet)
                {
                    <option value="@status">@status.GetDisplayNameString()</option>
                }
            }
        </InputSelect>
    </div>
    <div>
        <InputTextArea class="taskDescription" @bind-Value="Task.Description" placeholder="Description..."></InputTextArea>
    </div>
    <button type="button" @onclick=@(HandleSubmit)>Save</button>
</div>

@code {
    [Parameter]
    public Action CloseCallback { get; set; } = null!;
    [Parameter]
    public ProjectTaskViewModel Task { get; set; } = new();
    [Parameter]
    public EventCallback<ProjectTaskViewModel> TaskChanged { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    private async Task HandleSubmit()
    {
        await TaskChanged.InvokeAsync(Task);
    }
    private async Task HandleClose()
    {
        await InvokeAsync(CloseCallback);
    }
}
