@page "/Register"
@using ProjectManagement.Public.Models.Auth
@using Microsoft.AspNetCore.Authorization
@using ProjectManagement.Classes
@inject ILoginManager _loginManager
@inherits ProjectManagementComponentBase

<div>
    <div>
        <label>
            Email:
        </label>
        <InputText @bind-Value=@(_registerRequest.Email) />
    </div>
    <div>
        <label>
            Password:
        </label>
        <InputText @bind-Value=@(_registerRequest.Password) />
    </div>
    <button type="button" @onclick=@(Submit)>Register</button>
</div>


@code{
    private RegisterRequestModel _registerRequest = new();
    private async Task Submit(MouseEventArgs args)
    {
        var response = await _loginManager.Register(_registerRequest);
        if (!response.IsSuccess)
        {
            HandleError($"Error registering: {response.ErrorMessage}");
        }
    }
}
