@inject ILoginManager _loginManager
@inject NavigationManager _navManager

    <AuthorizeView>
        <NotAuthorized>

        </NotAuthorized>
        <Authorized>
            <button @onclick="HandleLogoutClick">Log Out</button>
        </Authorized>
    </AuthorizeView>

@code{
    protected async Task HandleLogoutClick() {
        await _loginManager.Logout();
        _navManager.NavigateTo("/");
    }   
}