@inherits AuthorizedComponentBase
@inject AuthenticationStateProvider _authStateProvider
@inject NavigationManager _navManager


    <Dropdown>
        <Items>
            <AuthorizeView Roles="Admin">
                <DropdownItem>
                    <a href="/Roles">Manage Roles</a>
                </DropdownItem>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <DropdownItem>
                        <p>Hello @(context.User.Identity.Name)!</p>
                    </DropdownItem>
                    <DropdownItem>
                        <button @onclick="HandleLogoutClick">Log Out</button>
                    </DropdownItem>
                </Authorized>
            </AuthorizeView>
        </Items>
    </Dropdown>

@code{
    protected async Task HandleLogoutClick() {
        ShowInfo("Logging out...");
        await ((CustomAuthenticationStateProvider)_authStateProvider).Logout();
        ShowInfo("Logged out!");
        _navManager.NavigateTo("/");
    }   
}