@inherits ProjectManagementComponentBase
@* @inject ILoginManager _loginManager *@
@inject NavigationManager _navManager

    <AuthorizeView>
        <NotAuthorized>

        </NotAuthorized>
        <Authorized>
            @* <button @onclick="HandleLogoutClick">Log Out</button> *@
        </Authorized>
    </AuthorizeView>

@code{
    // protected async Task HandleLogoutClick() {
    //     ShowInfo("Logging out...");
    //     await _loginManager.Logout();
    //     ShowInfo("Logged out!");
    //     _navManager.NavigateTo("/");
    // }   
}